<div class="component__example">
    <div ng-if="view === 'view1'" ng-include="'component/example/view1.html'"></div>
    <div ng-if="view === 'view2'" ng-include="'component/example/view2.html'"></div>
</div>