<div>
    <h3>View 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti ipsam maiores minima necessitatibus
        quaerat quasi rem! Accusantium consequatur deserunt dolore ducimus esse maiores officiis possimus, reprehenderit
        temporibus voluptates. Ab adipisci amet consectetur deserunt doloremque dolorum ea, eligendi eos excepturi fuga
        fugiat ipsam omnis perspiciatis provident quasi quidem quod quos ratione rerum suscipit, tempora ullam veritatis
        voluptate. Aliquam blanditiis dolor ea, ex explicabo fugiat ipsa itaque labore libero nam quam sequi sit unde?
        Aliquam aliquid at autem consectetur delectus deserunt dolorum error ex hic illum, laborum molestiae non quae
        quaerat ratione recusandae similique temporibus voluptate voluptatem voluptatum? Architecto distinctio nemo
        perferendis veniam! Aperiam asperiores at autem consectetur cumque dolore dolorum esse et ex harum id illum ipsa
        itaque iusto laborum minus molestias mollitia natus nemo, neque numquam odio officiis perspiciatis provident
        quam quas quia quibusdam quo reiciendis rem sequi soluta suscipit temporibus tenetur unde veritatis voluptatem.
        Corporis est, eveniet explicabo fuga molestias repudiandae tempora? Accusantium aperiam cum distinctio ducimus
        error, ex impedit iure maiores neque, nulla optio perferendis possimus, praesentium reprehenderit velit.
        Corporis cum doloremque eius itaque nam necessitatibus neque nihil recusandae saepe, tempora? A atque blanditiis
        consequatur culpa deserunt distinctio eum eveniet ex facere fugit illo incidunt laborum minima minus officia
        praesentium quas repellat similique soluta, tenetur. Amet assumenda commodi deserunt ducimus ea eaque error
        fugit iusto, magni modi nam neque obcaecati, qui quia quidem ratione recusandae similique suscipit voluptate
        voluptatibus? Adipisci aliquid amet animi, architecto asperiores atque aut beatae commodi cumque cupiditate
        debitis deleniti deserunt dolore doloribus dolorum eaque eos ex expedita explicabo id ipsa iure laudantium
        libero maxime natus nisi obcaecati quasi qui quis rem repellat, sint, suscipit totam ullam vel vero voluptates?
        Alias, aliquam dicta impedit ipsum iste magnam maxime molestiae nihil odit similique. A architecto aspernatur at
        culpa eligendi error ipsum minima odio omnis quae quod rem, repellendus tempore unde vel! Aliquid aperiam
        architecto aspernatur blanditiis earum eos, fugiat libero maiores, mollitia neque nobis odio provident quasi,
        quia ratione tempora ullam voluptatum? Ad dignissimos excepturi harum laboriosam possimus quis quisquam
        reiciendis rerum sit! Aliquam amet animi assumenda at autem blanditiis commodi consequuntur, dicta dolorum ex
        hic impedit nihil, placeat porro possimus quisquam temporibus vitae, voluptatem. Adipisci aliquid animi aperiam
        asperiores atque aut autem blanditiis commodi dolor dolore doloremque eius eveniet ex illum itaque magnam magni
        modi molestias nam necessitatibus nesciunt nisi non odio porro possimus qui, ratione recusandae repudiandae
        tempora temporibus totam veritatis vero voluptate! Asperiores aut distinctio pariatur totam? Accusantium alias
        aliquam aperiam aspernatur corporis cum dolore dolorem doloremque ducimus, enim eos itaque iure, iusto
        necessitatibus nemo qui quidem quod. Alias asperiores cum cupiditate debitis dolor, eius et eum, labore
        laboriosam minima modi nemo officia porro qui repellat reprehenderit rerum sit vel vero voluptas. Dicta
        distinctio dolor, esse fugit illum ipsam libero, mollitia nihil quibusdam rerum vel, vero. Adipisci dolores
        facilis in iusto quam? Adipisci aspernatur at, consequuntur delectus doloremque harum id in incidunt inventore
        ipsa ipsum laudantium maiores necessitatibus nisi numquam odit perferendis placeat porro, possimus quae quasi
        quisquam sed vel vero vitae?</p>
    <p>
        <a href="" ng-click="switchToView1()">Switch to view 1</a>
    </p>
</div>