<div>
    <h3>View 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eius explicabo hic obcaecati, possimus quam? A
        ad animi aperiam distinctio ea facilis incidunt, itaque maiores molestias quas qui quidem repellendus unde ut
        veniam. Excepturi ipsa itaque magni minima nihil quo ratione repudiandae. Dicta exercitationem fugiat harum non
        quos repudiandae soluta!</p>
    <p>
        <a href="" ng-click="switchToView2()">Switch to view 2</a>
    </p>
</div>